.CreateContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

.CreateForm {
  width: 55%;
  height: auto;
  background-color: rgba(29, 29, 29, 0.9);
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 7px 6px 5px 0px rgba(29, 29, 29, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.ButtonHome {
  background-color: #292929;
  padding: 15px 40px;
  border-style: none;
  border: solid rgba(0, 254, 0, 1);
  border-width: 0px 2px 2px 2px;
  position: absolute;
  top: 0;
  margin: 0 auto;
  color: rgba(0, 254, 0, 1);
  font-size: 1.6rem;
  font-weight: 700;
  transition: 1s ease-in-out;
}

.ButtonHome:hover {
  background-color: rgba(29, 29, 29, 0.8);
  border: solid rgba(255, 255, 255, 1);
  border-width: 0px 2px 2px 2px;
  color: white;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}

.IconHome {
  position: absolute;
  border-radius: 50%;
  width: 40%;
  top: 12%;
  left: -20%;
}

.Waves {
  position: absolute;
  bottom: -16%;
}

.Characters {
  position: absolute;
  width: 23%;
  bottom: 0;
  right: 0;
}

.Title {
  font-size: 2.4rem;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 3px;
  margin-bottom: 40px;
  z-index: 5;
}

.InputContainer,
.SelectContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.SelectContainer {
  justify-content: center;
  gap: 20px;
}

.Input {
  transition: all 0.7s ease-in;
  padding: 13px;
  border-style: none;
  background: #292929;
  border-bottom: 1px solid #212121;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 10px;
  color: #00fe00;
}

.Input:focus {
  transition: all 0.5s ease-in;
  border-style: none;
  border-bottom: 1px solid #00fe00;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #212121;
}

.Input::placeholder {
  color: #989898;
  font-weight: 700;
}

.IconInput {
  content: "";
  background-image: url(../../../assets/icon-splash.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin: -50px;
}

select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 100%;
  height: 4.2rem;
  padding: 0 4rem 0 1.8rem;

  /* background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
        no-repeat right 0.8rem center / 1.4rem,
      linear-gradient(to left, rgba(255, 255, 255, 0.3) 3rem, rgba(28, 31, 42, 1) 3rem); */

  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8rem center / 1.4rem,
    linear-gradient(
      to left,
      rgba(29, 255, 29, 0.5) 3rem,
      rgba(29, 29, 29, 1) 3rem
    );

  color: white;
  border: 1px solid rgba(0, 254, 0, 0.4);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  font-size: 1.5rem;
  /* Remove focus outline */
}

select option {
  color: inherit;
  background-color: #292929;
}

select:focus {
  outline: none;
  background-color: #292929;
}
select::-ms-expand {
  display: none;
}

.EpisodesContainer {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  background-color: #292929;
  margin-bottom: 20px;
}

.ButtonSubmit {
  width: 40%;
  background-color: #00fe00;
  border: 1px solid #00fe00;
  color: #292929;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.9s ease-in-out;
}

.ButtonSubmit:disabled {
  background-color: #d1d1d1;
  color: #292929;
}
.ButtonSubmit:disabled:hover {
  background-color: #d1d1d1;
  color: #292929;
}

.ButtonSubmit:hover {
  cursor: pointer;
  background-color: #292929;
  border: 1px solid #00fe00;
  color: #00fe00;
  transition: 0.7s ease-in-out;
}

.EpisodesContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  overflow-y: auto;
  gap: 3px;
}

.Episode {
  font-size: 1.5rem;
  line-height: 1.2rem;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 254, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
}

.IconEpisode {
  width: 3%;
}


.Errors, .Errors2{
  background-color: rgba(29, 29, 29, .9);
  padding: 1px 10px;
  color: #00fe00;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  left: 10px;
  bottom: 0;
  border-radius: 5px;
}

.Errors2{
  left: 51.4%;
}


.ContainerNoti{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  background-color: rgba(29, 29, 29, 1);
  z-index: 10;
}


/*Modal*/
.imgModal{
  width: 20%;
}


.TitleModal{
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  color: #f1f1f1;
}

.TextModal{
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #f1f1f1;
}

.ButtonContainer{
  gap: 20px;
  display: flex;
  justify-content: center;
}

.ButtonBackHome, .ButtonStay{
  border-style: none;
  margin-top: 20px;
  padding: 8px 20px;
  font-size: 1.7rem;
  font-weight: 700;
  color: #292929;
  border-radius: 10px;
  transition: .9s ease-in-out;
}

.ButtonBackHome, .ButtonStay{
  background-color: #00fe00;
  border: 1px solid #292929;
}

.ButtonBackHome:hover, .ButtonStay:hover{
  cursor: pointer;
  color: #f1f1f1;
  border: 1px solid #00fe00;
  background-color: #292929;
  transition: .5s ease-in-out;
}


/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  .CreateForm{
    width: 70%;
    padding: 20px 5px;
    margin: 20px 0 20px 0;
  }
  .Form{
    width: 100%;
  }
}


/* Media queries for small-size devices (Mobile) */
@media screen
and (max-device-width: 600px) {
    .CreateForm{
      width: 90%;
      height: auto;
      padding: 20px 5px;
      margin: 20px 0 20px 0;
    }
    .Form{
      width: 100%;
      gap: 8px;
    }
    .Title{
      font-size: 1.8rem;
    }
    .Errors{
      font-size: .9rem;
    }
    .Errors2{
      font-size: .9rem;
    }
    .CreateContainer{
      height: auto;
    }
    .ButtonSubmit{
      width: 60%;
    }
    .Characters{
      display: none;
    }
    .imgModal{
      width: 50%;
    }

    .TitleModal{
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
      font-weight: 500;
      color: #f1f1f1;
    }
    
    .TextModal{
      font-family: "Poppins", sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      color: #f1f1f1;
    }
}
